#container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

#tank {
    width: 100%;
    height: 100%;
}

.block {
    fill: yellow;
    stroke: blue;
    stroke-width: 1;
}